auto/
*.aux
*.nav
*.log
*.toc
*.snm
*.out
__pycache__/
*.pyc
*.rel
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.graffle
*.nav
*.run.xml
*.toc
*.tcp
*.vrb
*.snm
*.bcf
*.fdb_latexmk
*.fls
*.lof
auto
.svn
~$*
_region_.tex
.DS_Storemain.pdf
main.pdf
summary/summary.pdf
